<footer>
        <section><a href="#">SUBIR</a></section>

        <section>
          <img src="/img/footer1.png" />
          <img src="/img/footer2.png" />
          <img src="/img/footer3.png" />
          <img src="/img/footer4.png" />
          <img src="/img/footer5.png" />
        </section>

        <section><img src="/img/FOOTER.png" /></section>
</footer>