<div id="form-add-equipo">
    <form action="/equipos/add" method="post" >
    <fieldset>
        <title></title>
        <label for="" >Nombre</label>
        <input type="text" name="nombre_equipo" placeholder="Inserte el nombre" required maxlength="25">
        <label for="">Estadio</label>
        <input type="text" name="estadio_equipo" placeholder="Inserte el estadio" required maxlength="25">
        <label for="">Ubicación</label>
        <input type="text" name="ubicacion_equipo" placeholder="Inserte la ubicación" required maxlength="25">
        <button>Guardar</button>
    </fieldset>
</form>
</div>