<div id="contenido" >
        <main>
          <article>
            <h2>Seleccion Nacional</h2>
            <img src="/img/recomendacion2.jpg" />
            <p>
              La Tricolor se enfrentará a su similar de Bolivia en el Red Bull
              Arena de Nueva Jersey este sábado, 17 de junio, a partir de las
              18:00. La selección de Ecuador vuelve a disputar un partido
              amistoso desde el pasado mes de marzo. En esta nueva fecha FIFA,
              la Tricolor se enfrentará a su similar de Bolivia en el Red Bull
              Arena de Nueva Jersey este sábado, 17 de junio, a partir de las
              18:00 (hora ecuatoriana).
              <br />

              Los dirigidos por el técnico Félix Sánchez Bas ya se encuentran
              concentrados en tierras norteamericanas para su cotejo ante La
              Verde. Este sería el tercer partido de los ecuatorianos bajo el
              mando del estratega español registrando una victoria y una
              derrota, ambos ante Australia, en su historial. Con la inclusión
              del joven defensa Stalin Valencia a la escuadra nacional, el DT de
              La Tri contaría con un total de 25 jugadores a su disposición tras
              las bajas de Kendry Páez y Diego Palacios.

              <br />
              La última vez que la selección se enfrentó al conjunto boliviano
              fue el 7 de octubre del 2021 por el marco de las eliminatorias
              rumbo a Qatar 2022. En dicho encuentro, la Tricolor obtuvo una
              victoria por un marcador de 3-1 con anotaciones de Michael Estrada
              y Enner Valencia en dos ocasiones.

              <br />
              Para este encuentro de los tricolores, la venta de entradas inició
              el pasado 15 de mayo por lo que se espera un aforo completo,
              mayoritariamente con afición ecuatoriana. El estadio
              estadounidense cuenta con una capacidad de 25.000 espectadores.
            </p>
          </article>
          <h2>Tabla de Posiciones de la LigaPro</h2>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>EQUIPO</th>
                <th>PT</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GF</th>
                <th>GC</th>
                <th>PUNTOS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>INDEPENDIENTE</td>
                <td>14</td>
                <td>11</td>
                <td>1</td>
                <td>2</td>
                <td>28</td>
                <td>11</td>
                <td>34</td>
              </tr>
              <tr>
                <td>2</td>
                <td>EL NACIONAL</td>
                <td>14</td>
                <td>11</td>
                <td>1</td>
                <td>2</td>
                <td>28</td>
                <td>11</td>
                <td>34</td>
              </tr>
              <tr>
                <td>3</td>
                <td>BARCELONA</td>
                <td>14</td>
                <td>11</td>
                <td>1</td>
                <td>2</td>
                <td>28</td>
                <td>11</td>
                <td>34</td>
              </tr>
              <tr>
                <td>4</td>
                <td>LDU QUITO</td>
                <td>14</td>
                <td>11</td>
                <td>1</td>
                <td>2</td>
                <td>28</td>
                <td>11</td>
                <td>34</td>
              </tr>
              <tr>
                <td>5</td>
                <td>DELFIN</td>
                <td>14</td>
                <td>11</td>
                <td>1</td>
                <td>2</td>
                <td>28</td>
                <td>11</td>
                <td>34</td>
              </tr>
              <tr>
                <td>6</td>
                <td>ORENSE</td>
                <td>14</td>
                <td>6</td>
                <td>3</td>
                <td>5</td>
                <td>17</td>
                <td>19</td>
                <td>21</td>
              </tr>
              <tr>
                <td>7</td>
                <td>U. CATOLICA</td>
                <td>14</td>
                <td>6</td>
                <td>3</td>
                <td>5</td>
                <td>20</td>
                <td>24</td>
                <td>21</td>
              </tr>
              <tr>
                <td>8</td>
                <td>AUCAS</td>
                <td>14</td>
                <td>6</td>
                <td>3</td>
                <td>5</td>
                <td>15</td>
                <td>19</td>
                <td>21</td>
              </tr>
              <tr>
                <td>9</td>
                <td>DEP. CUENCA</td>
                <td>14</td>
                <td>6</td>
                <td>0</td>
                <td>8</td>
                <td>21</td>
                <td>19</td>
                <td>18</td>
              </tr>
              <tr>
                <td>10</td>
                <td>TEC. UNIVERSITARIO</td>
                <td>14</td>
                <td>4</td>
                <td>3</td>
                <td>7</td>
                <td>18</td>
                <td>15</td>
                <td>15</td>
              </tr>
              <tr>
                <td>11</td>
                <td>GUALACEO</td>
                <td>14</td>
                <td>4</td>
                <td>3</td>
                <td>7</td>
                <td>15</td>
                <td>22</td>
                <td>15</td>
              </tr>
              <tr>
                <td>12</td>
                <td>EMELEC</td>
                <td>14</td>
                <td>3</td>
                <td>5</td>
                <td>6</td>
                <td>16</td>
                <td>17</td>
                <td>14</td>
              </tr>
              <tr>
                <td>13</td>
                <td>CUMBAYA</td>
                <td>14</td>
                <td>3</td>
                <td>5</td>
                <td>6</td>
                <td>8</td>
                <td>12</td>
                <td>14</td>
              </tr>
              <tr>
                <td>14</td>
                <td>LIBERTAD FC</td>
                <td>14</td>
                <td>2</td>
                <td>7</td>
                <td>5</td>
                <td>19</td>
                <td>24</td>
                <td>13</td>
              </tr>
              <tr>
                <td>15</td>
                <td>GUAYAQUIL CITY</td>
                <td>14</td>
                <td>3</td>
                <td>3</td>
                <td>8</td>
                <td>16</td>
                <td>27</td>
                <td>12</td>
              </tr>
              <tr>
                <td>16</td>
                <td>MUSHUC RUNA</td>
                <td>14</td>
                <td>3</td>
                <td>3</td>
                <td>8</td>
                <td>12</td>
                <td>12</td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
          <h2>Siguenos</h2>
          <div class="siguenos">
            <a href="https://www.facebook.com/" target="_blank"
              ><img src="/icon/facebook-262-721949.png"
            /></a>
            <a href="https://www.twitter.com/" target="_blank"
              ><img src="/icon/twitter-241-721979.png"
            /></a>
            <a href="https://www.instagram.com/" target="_blank"
              ><img src="/icon/instagram-216-721958.png"
            /></a>
            <a href="https://www.youtube.com/" target="_blank"
              ><img src="/icon/youtube-268-721990.png"
            /></a>
          </div>
        </main>

        <aside>
          <div id="recomendados">
            <h2>Recomendaciones</h2>
            <section>
              <img src="/img/recomendacion1.jpg" />
              <span>
                <h3>César Farías fue despedido de Aucas</h3>
                <p>
                  La dirigencia de Sociedad Deportiva Aucas tomó una difícil
                  decisión respecto al entrenador César Farías por lo sucedido
                  en el partido ante Delfín de Manta.
                </p>
              </span>
            </section>
            <section>
              <img src="/img/principal.jpg" />

              <span
                ><h3>Amistosos de la Seleccion de Ecuador</h3>
                <p>
                  La selección de Ecuador jugará dos partidos amistosos contra
                  Bolivia y Costa Rica válida por la fecha FIFA del mes de
                  junio.
                </p>
              </span>
            </section>
            <section>
              <img src="/img/recomendacion3.jpg" />

              <span
                ><h3>Moises Caicedo decidira su futuro</h3>
                <p>
                  El ecuatoriano Moisés Caicedo, quien se encuentra con el
                  combinado tricolor para disputar los dos partidos amistosos
                  ante Bolivia y Costa Rica.
                </p>
              </span>
            </section>
          </div>

          <div id="escribenos">
            <h2>Contactanos</h2>
            <form>
              <fieldset>
                <legend><h3>Formulario de contacto</h3></legend>

                <div>
                  <label for="nombre">Nombre:</label>
                  <input type="text" id="nombre" name="nombre" required />
                </div>

                <div>
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" required />
                </div>

                <div>
                  <label for="mensaje">Mensaje:</label>
                  <textarea id="mensaje" name="mensaje" required></textarea>
                </div>

                <input type="submit" value="Enviar" />
              </fieldset>
            </form>
          </div>
        </aside>
      </div>